/* ===== カラーパレット定義 ===== */

/* メインカラー定義 */
:root {
    --color-primary: #d4f9f9; /* メインカラー */
    --color-primary-dark: #c7e2e6; /* メインカラーの10%暗い色 */
    --color-accent: #1e73be; /* アクセントカラー */
    --color-accent-dark:#1b68ab; /* アクセントカラーの10%暗い色 */
    --color-bg-light: #ffffff; /* 背景色 */
    --color-text-dark: #333333; /* メインテキスト黒色 */
    --color-shadow: rgba(0, 0, 0, 0.3); /* 影用 */
}

/* カラーパレット定義（お正月） */
:root[data-thema="newyear"] {
    --color-primary: #c20000;
    --color-primary-dark: #b00000;
    --color-accent: #d0a900;
    --color-accent-dark:#bb9800;
    --color-bg-light: #ffffff;
    --color-text-dark: #333333;
    --color-shadow: rgba(0, 0, 0, 0.3);
}

/* カラーパレット定義（バレンタインデー） */
:root[data-thema="valentineday"] {
    --color-primary: #ed8fa0;
    --color-primary-dark: #d58190;
    --color-accent: #6d2619;
    --color-accent-dark:#622217;
    --color-bg-light: #ffffff;
    --color-text-dark: #333333;
    --color-shadow: rgba(0, 0, 0, 0.3);
}

/* カラーパレット定義（ひな祭り） */
:root[data-thema="hinamaturi"] {
    --color-primary: #ff93aa;
    --color-primary-dark: #c0d033;
    --color-accent: #ffdd66;
    --color-accent-dark:#ff6076;
    --color-bg-light: #ffffff;
    --color-text-dark: #333333;
    --color-shadow: rgba(0, 0, 0, 0.3);
}

/* カラーパレット定義（エイプリルフール） */
:roo[data-thema="aprilfool"] {
    --color-primary: #ffff99;
    --color-primary-dark: #7fffd4;
    --color-accent: #ff1493;
    --color-accent-dark:#32cd32;
    --color-bg-light: #ffffff;
    --color-text-dark: #333333;
    --color-shadow: rgba(0, 0, 0, 0.3);
}

/* カラーパレット定義（５月） */
:root[data-thema="goldenweek"] {
    --color-primary: #d4f9f9;
    --color-primary-dark: #c7e2e6;
    --color-accent: #1e73be;
    --color-accent-dark:#1b68ab;
    --color-bg-light: #ffffff;
    --color-text-dark: #333333;
    --color-shadow: rgba(0, 0, 0, 0.3);
}

/* カラーパレット定義（６月） */
:root[data-thma="mitei"] {
    --color-primary: #d4f9f9;
    --color-primary-dark: #c7e2e6;
    --color-accent: #1e73be;
    --color-accent-dark:#1b68ab;
    --color-bg-light: #ffffff;
    --color-text-dark: #333333;
    --color-shadow: rgba(0, 0, 0, 0.3);
}

/* カラーパレット定義（七夕） */
:root[data-thema="tanabata"] {
    --color-primary: #0066cc;
    --color-primary-dark: #005cb8;
    --color-accent: #8fbc8f;
    --color-accent-dark:#81a981;
    --color-bg-light: #ffffff;
    --color-text-dark: #333333;
    --color-shadow: rgba(0, 0, 0, 0.3);
}

/* カラーパレット定義（８月） */
:root[data-thema="mitei"] {
    --color-primary: #d4f9f9;
    --color-primary-dark: #c7e2e6;
    --color-accent: #1e73be;
    --color-accent-dark:#1b68ab;
    --color-bg-light: #ffffff;
    --color-text-dark: #333333;
    --color-shadow: rgba(0, 0, 0, 0.3);
}

/* カラーパレット定義（９月） */
:root[data-thema="tsukimi"] {
    --color-primary: #d4f9f9;
    --color-primary-dark: #c7e2e6;
    --color-accent: #1e73be;
    --color-accent-dark:#1b68ab;
    --color-bg-light: #ffffff;
    --color-text-dark: #333333;
    --color-shadow: rgba(0, 0, 0, 0.3);
}

/* カラーパレット定義（ハロウィン） */
:root[data-thema="halloween"] {
    --color-primary: #ff6600;
    --color-primary-dark: #663a66;
    --color-accent: #ffbb00;
    --color-accent-dark:#006600;
    --color-bg-light: #ffffff;
    --color-text-dark: #333333;
    --color-shadow: rgba(0, 0, 0, 0.3);
}

/* カラーパレット定義（十一月未定） */
:root[data-thema="mitei"] {
    --color-primary: #d4f9f9;
    --color-primary-dark: #c7e2e6;
    --color-accent: #1e73be;
    --color-accent-dark:#1b68ab;
    --color-bg-light: #ffffff;
    --color-text-dark: #333333;
    --color-shadow: rgba(0, 0, 0, 0.3);
}

/* カラーパレット定義（クリスマス） */
:root[data-thema="christmas"] {
    --color-primary: #cc0000;
    --color-primary-dark: #006622;
    --color-accent: #c99c33;
    --color-accent-dark:#662200;
    --color-bg-light: #ffffff;
    --color-text-dark: #333333;
    --color-shadow: rgba(0, 0, 0, 0.3);
}