/* ===== 共通スタイルCSS ===== */

/* 全ての要素にborder-boxを適用、幅ずれを防ぐ */
*, *::before, *::after {
    box-sizing: border-box;
}

/* HTMLとBODYの基本設定 */
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* ページ全体の設定 */
body {
    font-family: "Noto Sans JP", sans-serif;
    background-color: var(--color-primary);
    color: var(--color-text-dark);
    overflow-x: hidden;
    position: relative;
}

/* パーティクル背景 */
#particle-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    inset: 0;
    pointer-events: none;
}

/* ヘッダー（ナビゲーションバー） */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    background-color: var(--color-primary-dark);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    z-index: 100;
    justify-content: flex-end;
    gap: 20px;
}

/* ハンバーガーメニュー */
.menu-toggle {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 5px;
    cursor: pointer;
    position: relative;
}

/* ハンバーガーメニューの線 */
.menu-toggle div {
    display: block;
    width: 30px;
    height: 5px;
    background-color: var(--color-bg-light);
    margin: 0;
    transition: all 0.3s ease;
}

/* メニュー本体 */
.nav-links {
    display: flex;
    gap: 20px;
    transition: all 0.3s ease;
}
.nav-links a {
    color: var(--color-text-dark);
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
}
.nav-links a:hover {
    text-shadow: 0 0 10px var(--color-bg-light);
}

/* スマホ用　*/
@media (max-width: 768px) {
    .menu-toggle {
        display: flex;
    }
    .nav-links {
        display: none;
        position: absolute;
        top: 70px;
        right: 5px;
        flex-direction: column;
        background-color: var(--color-primary-dark);
        width: 180px;
        padding: 10px;
        border-radius: 10px 10px 10px 10px;
        box-shadow: 0 5px 15px var(--color-text-dark);
    }
    .nav-links.open {
        display: flex;
        animation: fadeIn 0.3s ease;
    }
    @keyframes fadeIn {
        from { opacity: 0; }
        to { opacity: 1; }
    }
}

/* フッター */
footer {
    text-align: center;
    padding: 10px;
    color: var(--color-text-dark);
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--color-primary-dark);
}