/* ===== トップページCSS ===== */

/* メインコンテンツ */
main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    padding: 20px 0;
}

/* 静岡大学吹奏楽団 */
.top-title p {
    margin-top: 100px;
    margin-bottom: 5px;
    font-size: 2.2rem;
    font-weight: 700;
    color: var(--color-bg-light);
    text-align: center;
    text-shadow: 0 0 10px var(--color-shadow),
                 0 0 15px var(--color-shadow);
}

/* 広報係 */
.sub-title h1 {
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 5rem;
    font-weight: 900;
    text-align: center;
    color: var(--color-bg-light);
    text-shadow: 0 0 8px var(--color-shadow),
                 0 0 15px var(--color-shadow);
}

/* イベントイメージ（右下） */
#event-visual-1,
#event-visual-2 {
  position: fixed;
  right: 20px;
  bottom: 80px;
  width: 160px;
  height: 160px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5;
  pointer-events: none;
  z-index: 20;
  filter: drop-shadow(0 0 8px var(--color-accent));
}

#event-visual-1 {
    right: 20px;
    top: 100px;
}
#event-visual-2 {
    left: 20px;
    bottom: 100px;
}

:root[data-theme="valentineday"] #event-visual-1 {
  background-image: url("images/valentine-1.png");
}
:root[data-theme="valentineday"] #event-visual-2 {
  background-image: url("images/valentine-2.png");
}

:root[data-theme="hinamaturi"] #event-visual {
  background-image: url("images/hinamaturi-1.png");
}
:root[data-theme="hinamaturi"] #event-visual {
  background-image: url("images/hinamaturi-2.png");
}

:root[data-theme="shouwanohi"] #event-visual {
  background-image: url("images/shouwanohi-1.png");
}
:root[data-theme="hinamaturi"] #event-visual {
  background-image: url("images/shouwanohi-2.png");
}

:root[data-theme="tanabata"] #event-visual {
  background-image: url("images/tanabata-1.png");
}
:root[data-theme="tanabata"] #event-visual {
  background-image: url("images/tanabata-2.png");
}

:root[data-theme="halloween"] #event-visual {
  background-image: url("images/halloween-1.png");
}
:root[data-theme="halloween"] #event-visual {
  background-image: url("images/halloween-2.png");
}

:root[data-theme="christmas"] #event-visual {
  background-image: url("images/christmas-1.png");
}
:root[data-theme="christmas"] #event-visual {
  background-image: url("images/christmas-2.png");
}

#event-visual {
  display: none;
}

:root[data-theme] #event-visual {
  display: block;
}


/* 秘密の音符ボタン */
#secretNote {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 22px;
    opacity: 0.6;
    cursor: pointer;
    user-select: none;
    z-index: 150;
}

#secretNote:hover {
    opacity: 1;
}