/* ===== トップページCSS ===== */

/* メインコンテンツ */
main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    padding: 20px 0;
}

/* 静岡大学吹奏楽団 */
.top-title p {
    margin-top: 100px;
    margin-bottom: 5px;
    font-size: 2.2rem;
    font-weight: 700;
    color: var(--color-bg-light);
    text-align: center;
    text-shadow: 0 0 10px var(--color-shadow),
                 0 0 15px var(--color-shadow);
}

/* 広報係 */
.sub-title h1 {
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 5rem;
    font-weight: 900;
    text-align: center;
    color: var(--color-bg-light);
    text-shadow: 0 0 8px var(--color-shadow),
                 0 0 15px var(--color-shadow);
}

/* イベントイメージ */
#event-visual {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.6;
  pointer-events: none;
  z-index: 1;
  filter: drop-shadow(0 0 8px var(--color-accent));
}

.top-title, .sub-title, main {
  position: relative;
  z-index: 10;
}

:root[data-theme="setubun"] #event-visual {
  background-image: url("images/setubun.png");
}
:root[data-theme="valentine"] #event-visual {
  background-image: url("images/valentine.png");
}
:root[data-theme="hinamaturi"] #event-visual {
  background-image: url("images/hinamaturi.png");
}
:root[data-theme="whiteday"] #event-visual {
  background-image: url("images/whiteday.png");
}
:root[data-theme="tanabata"] #event-visual {
  background-image: url("images/tanabata.png");
}
:root[data-theme="uminohi"] #event-visual {
  background-image: url("images/uminohi.png");
}
:root[data-theme="yamanohi"] #event-visual {
  background-image: url("images/yamanohi.png");
}
:root[data-theme="shuubun"] #event-visual {
  background-image: url("images/shuubun.png");
}
:root[data-theme="halloween"] #event-visual {
  background-image: url("images/halloween.png");
}
:root[data-theme="christmas"] #event-visual {
  background-image: url("images/christmas.png");
}
:root[data-theme="newyear"] #event-visual {
  background-image: url("images/newyear.png");
}

#event-visual {
  display: none;
}

:root[data-theme] #event-visual {
  display: block;
}


/* 秘密の音符ボタン */
#secretNote {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 22px;
    opacity: 0.6;
    cursor: pointer;
    user-select: none;
    z-index: 150;
}

#secretNote:hover {
    opacity: 1;
}